@model RoleViewModel
@{
    ViewData["Title"] = "Delete";
}

<h1>Are you sure to delete this role</h1>
<br />
<br />

<form asp-action="ConfirmDelet">
    <partial name="PartialViews/DetailsDeletRolePartialView" />


    <input type="submit" value="Delete" class="btn btn-danger" />

    <a asp-action="Index" class="btn btn-light">  Back to list</a>
</form>
