@model Employee

<div class="form-group">
    <label class="col-form-label" asp-for="Name"></label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="alert text-danger  "></span>
</div>

<div class="form-group">
    <label class="col-form-label" asp-for="NationalId"></label>
    <input asp-for="NationalId" class="form-control" />
    <span asp-validation-for="NationalId" class="alert text-danger  "></span>
</div>

<div class="form-group">
    <label class="col-form-label" asp-for="BirthBade"></label>
    <input asp-for="BirthBade" name="BirthBade" class="form-control" id="BD" />
    <span asp-validation-for="Age" class="alert text-danger  "></span>
</div>
@*<input asp-for ="Age" value="@DateTime.Now.Year.CompareTo(Model.BirthBade.Year)" hidden/>*@




<div class=" form-group">
    <label class="col-form-label" asp-for="Account"> </label>

    <select class="form-control" asp-for="Account">
        <option value=@null> --Select Account--</option>
        <option value="TE Data">TE Data </option>
        <option value="Telecom Egypt"> Telecom Egypt</option>
    </select>

    <span asp-validation-for="Account" class="alert text-danger  "></span>

</div>

<div class=" form-group">
    <label class="col-form-label" asp-for="LineOfBusiness"> </label>

    <select class="form-control" asp-for="LineOfBusiness">
        <option value=@null> --Select Line Of Business--</option>
        <option value="Basic">Basic </option>
        <option value="Technical Support"> Technical Support</option>
        <option value="Inbound"> Inbound</option>
        <option value="Inbound"> Inbound</option>
    </select>
    <span asp-validation-for="LineOfBusiness" class="alert text-danger  "></span>

</div>


<div class=" form-group">
    <label class="col-form-label" asp-for="Language"> </label>

    <select class="form-control" asp-for="Language">
        <option value=@null> --Select Language--</option>
        <option value="English">English </option>
        <option value="French"> French</option>
        <option value="German"> German</option>
        <option value="Italian"> Italian</option>
        <option value="Russian"> Russian</option>

    </select>
    <span asp-validation-for="Language" class="alert text-danger  "></span>


</div>

<div class=" form-group">
    <label class="col-form-label" asp-for="Languagelevel"> </label>
    <select class="form-control " asp-for="Languagelevel">
        <option value=@null> --Select Languagelevel--</option>
        <option value="b1">B1 </option>
        <option value="b2"> B2</option>
        <option value="a1"> A1</option>
        <option value="a2"> A2</option>
        <option value="c1"> C1</option>

    </select>
    <span asp-validation-for="Languagelevel" class="alert text-danger  "></span>


</div>