@model UserViewModel
@{
    ViewData["Title"] = "Details";
}

<h1>user Details</h1>
<br />
<br />

<form asp-action="Details">

    <partial name="PartialViews/DetailsDeletUSerPartialView" />

    <a asp-action="Edit" class="btn btn-success" asp-route-id="@Model.Id">Update</a>
    <a asp-action="Index" class="btn btn-light">  Back to list</a>
</form>


